<div class="row animate__animated animate__fadeIn" *ngIf="pelicula">
  <div class="col-md-8">
    <img
      class="img-thumbnail"
      [src]="pelicula.poster_path | poster"
      [alt]="pelicula.title"
    />
  </div>
  <div class="col-md-8 mt-4">
    <h3>{{ pelicula.title }}</h3>

    <div class="row">
    
      
    
    </div>

    <div class="row mt-6">
      <h3>Sinopsis:</h3>
      <div class="col text-white text-justify-content">
        {{ pelicula.overview }}
      </div>
    

    </div>
    <div class="row mt-6">
      <h3>Fecha de estreno:</h3>

    <div class="col text-white text-justify-content">
      {{ pelicula.release_date }}
    </div>
    </div>

    <div class="row mt-6">
      <div class="col mb-3">
        <button class="btn btn-outline-info float-right" (click)="regresar()">
          Regresar
        </button>
      </div>
    </div>
  </div>
</div>

<hr>

